<%= form_for [@project, @note] do |f| %>
<% if @note.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@content.errors.count, "error") %> prohibited this file from being saved:</h2>

  <ul>
    <% @note.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row left">
  <div class="small-12 columns">
    <%= f.label "Note Title", class: "bold" %><br>
    <%= f.text_field :title, :size=>"50", class: "radius entry" %>
  </div>
</div>

<div class="row left spacer">
  <div class="small-12 medium-8 columns">
    <%= f.label "Entry", class: "bold" %><br>
    <%= f.cktext_area :content %>
  </div>
</div>




<% end %>
