<div class="padder">
<%= form_for [@project, @note] do |f| %>
<% if @note.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@note.errors.count, "error") %> prohibited this file from being saved:</h2>

  <ul>
    <% @note.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label "Title", class: "bold" %>
    <%= f.text_field :title, :size=>"50", class: "radius entry", :autofocus=>true %>



    <span><b>Entry </b><font size="2">(<%= link_to "Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" %> supported)</font></span>
    <%= f.text_area :content, :cols => 40, :rows => 15, class: "radius" %>
    <%= f.submit "Save Note", class: 'button tiny radius' %>



<% end %>
</div>
