<div class="padder">
<%= form_for [@project, @note] do |f| %>
<% if @note.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@note.errors.count, "error") %> prohibited this file from being saved:</h2>

  <ul>
    <% @note.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


    <%= f.label "Title", class: "bold" %>
    <%= f.text_field :title, :size=>"50", class: "radius entry", :autofocus=>true %>



    <span><b>Entry </b>
    <%= f.text_area :content, class: "radius", id: "content" %><br>
    <%= f.submit "Save Note", class: 'button tiny radius' %>



<% end %>
</div>


<script>
  $(function() {
    $('textarea#content').froalaEditor({
      imageUploadURL: '/noteupload',
      entities: '&#39;',
      requestHeaders: {
        'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
      },
      imageUploadParams: {
        id: 'my_editor'
      },
      placeholderText: 'Type something',
      toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'color', 'formatParagraph', 'paragraphStyle', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', 'undo', 'redo', 'html', 'clearFormatting', 'fullscreen'],
    })
  });
</script>
