- if @project.nil? || @project.name == 'inbox-system'
  = link_to dashboards_path do
    %i.fi-home
  = link_to 'Inbox', project_contents_path(@project), class: "current"
- else
  = link_to dashboards_path do
    %i.fi-home
  - if @project.depth == 0
    - if controller_name == 'notes'
      = link_to @project.name, project_contents_path(@project), class: "active"
    - else
      = link_to @project.name, project_contents_path(@project), remote: true, class: "active"
  - else
    - @project.ancestors.each do |ancestor|
      - if controller_name == 'notes'
        = link_to ancestor.name, project_contents_path(ancestor)
      - else
        = link_to ancestor.name, project_contents_path(ancestor), remote: true
    - if controller_name == 'notes'
      = link_to @project.name, project_contents_path(@project), class: "active"
    - else
      = link_to @project.name, project_contents_path(@project), remote: true, class: "active"
