<h3><%= @project.name %><%= content_tag(:div, link_to("Upload", new_project_content_path(@project)),:style => "float:right;") %><%= content_tag(:div, "|",:style => "float:right;padding-left: 5px;padding-right: 5px;") %><%= content_tag(:div, link_to("Create Folder", new_project_path(:parent_id => @project.id), data: {:"reveal-id" => "myModal", :"reveal-ajax" => true} ),:style => "float:right;") %>  </h3>
<div class="content_row_header">
  <div class="content_name_header">Name</div>
  <div class="content_size_header show-for-medium-up">Size</div>
  <div class="content_date_header show-for-medium-up">Updated</div>
</div>

<% @project.contents.order(:name).each do |content| %>
  <div class="content_row">
     <%= file_type content %>
     <%= content_tag(:div, number_to_human_size(content.file_size), :class => "content_size show-for-medium-up") %>
     <%= content_tag(:div, content.updated_at.strftime("%u/%d/%Y %H:%M:%S"), :class => "content_date show-for-medium-up") %>
     <!-- <%= content.content_type %> -->
  </div>
<% end %>
<br>
