<h3><%= @project.name %>&nbsp;&nbsp;<%= link_to "Create Folder", new_project_path(:parent_id => @project.id) %>&nbsp;|&nbsp;<%= link_to "Upload", new_project_content_path(@project) %></h3>
<div class="bodywrapper">

<% @project.contents.each do |content| %>
  <% if content.content_type.include? 'image' %>
    <%= image_tag content.location.url(:thumb).to_s %>&nbsp;<%= link_to content.name, project_content_path(@project, content) %><br>
  <% else %>
    <%= link_to content.name, project_content_path(@project, content) %><br>
  <% end %>
<% end %>
<br>
</div>
