<h3><%= @project.name %>&nbsp;&nbsp;<%= link_to "Create Folder", new_project_path(:parent_id => @project.id) %>&nbsp;|&nbsp;<%= link_to "Upload", new_project_content_path(@project) %></h3>
<div class="bodywrapper">

<% @project.contents.each do |content| %>
  <div class="content_row">
    <% if content.content_type.start_with? 'image' %>
      <%= image_tag content.location.url(:thumb).to_s %>&nbsp;<%= link_to content.name, project_content_path(@project, content) %>
    <% else %>
      <%= image_tag("default2.png") %>&nbsp;<%= link_to content.name, project_content_path(@project, content) %>
    <% end %>
      <%= content.file_size %>
      <%= content.updated_at %>
    </div>
<% end %>
<br>
</div>
