<%= form_tag destroy_multiple_project_contents_path, :multipart => true, method: :delete, id: "delete_form" do %>
<h3><div class="nav"><%= image_tag("hamburger.png", size: "16x10") %>





    <div id="dropdown_menu" class="hidden_menu">
      <ul>
        <% unless @project.name == "inbox-system" %>
          <li><%= content_tag(:div, link_to("Create Folder", new_project_path(:parent_id => @project.id), data: {:"reveal-id" => "myModal", :"reveal-ajax" => true} )) %></li><hr>
        <% end %>
        <li><%= content_tag(:div, link_to("Create Note", new_project_note_path(@project))) %></li><hr>
        <li><%= content_tag(:div, link_to('Delete Checked', "#"), :onclick => "$('#delete_form').submit()") %></li><hr>
        <li><%= content_tag(:div, link_to("Upload", new_project_content_path(@project))) %></li>
      </ul>
    </div>



  </div><%= best_in_place @project, :name, {:class => "input_field"} %></h3>




<div class="content_row_header">

  <div class="content_name_header">Name</div>
  <div class="content_size_header show-for-large-up">Size</div>
  <div class="content_date_header show-for-large-up">Updated</div>
</div>

<% @project.notes.order(:title).each do |content| %>
<div class="content_row">
  <%= image_tag("note.png", :style => 'float:left;', :class => "img_preview", :id => content.id) + content_tag(:div, link_to(content.title, project_note_path(@project, content)), :class => "content_name") %>
  <%= content_tag(:div, "note", :class => "content_size show-for-large-up") %>
  <%= content_tag(:div, content.updated_at.strftime("%u/%d/%Y %H:%M:%S"), :class => "content_date show-for-large-up") %>
  <%= content_tag(:div, check_box_tag("content_ids[]", content.id), :class => "content_remove") %>
</div>
<% end %>


<% @project.contents.order(:name).each do |content| %>
  <div class="content_row">
     <%= file_type content %>
     <%= content_tag(:div, number_to_human_size(content.file_size), :class => "content_size show-for-large-up") %>
     <%= content_tag(:div, content.updated_at.strftime("%u/%d/%Y %H:%M:%S"), :class => "content_date show-for-large-up") %>
     <%= content_tag(:div, check_box_tag("content_ids[]", content.id), :class => "content_remove") %>
  </div>
<% end %>

<% end %>
