<h3><%= @project.name %>&nbsp;&nbsp;<%= link_to "Create Folder", new_project_path(:parent_id => @project.id) %>&nbsp;|&nbsp;<%= link_to "Upload", new_project_content_path(@project) %></h3>


<% @project.contents.each do |content| %>
  <div class="content_row">
     <%= file_type content %>
     <%= content_tag(:div, number_to_human_size(content.file_size), :class => "content_size show-for-medium-up") %>
     <%= content_tag(:div, content.updated_at.strftime("%u/%d/%Y %H:%M:%S"), :class => "content_date show-for-medium-up") %>
     <!-- <%= content.content_type %> -->
  </div>
<% end %>
<br>
