.subcrumb.show-for-medium-up
  .breadcrumbs
    = render 'crumb'
.bodywrapper
  %br/
  .row.columns
    .small-12.medium-4.columns
      #panel1.panel
        %h3 Personal
        .panel-contents
          = content_tag(:div, link_to(image_tag("folder2.png", {:size=>"25" }), dashboards_path, remote: true) + link_to("Inbox", dashboards_path, remote: true), :class => "folder-nav", :id => @inbox.id)
          = image_tag("trash.png", :size=>"20")
          Deleted Items
      #panel2.panel
        %h3#treetop
          Project Folders #{link_to image_tag("folder-delete3.png", {:size=>"25", :alt=>"Delete Project", :title=>"Delete Project", :style => "float: right; top: -4px; position: relative;"}), @project, method: :delete, data: { confirm: 'Really delete the project and all contents?' }}#{link_to image_tag("folder-add3.png", {:size=>"25", :alt=>"New Project", :title=>"New Project", :style => "float: right; top: -4px; position: relative;"}), new_project_path, data: {:"reveal-id" => "myModal", :"reveal-ajax" => true}}
        .panel-contents
          = nested_folders @projects.arrange(:order => :name)
    .small-12.medium-8.columns
      #spinner.spinner
      #panel2.panel.project-contents
        = render 'entries'
= render 'highlight'
#myModal.reveal-modal{"data-reveal" => ""}
