<div class="subcrumb show-for-medium-up">
  <div class="breadcrumbs">
    <%= render 'crumb' %>
  </div>
</div>

<div class="bodywrapper">

<br>
<div class="row columns">
  <div class="small-12 medium-4 columns">
    <div class="panel" id="panel1"><h3>Personal</h3>
      <div class="panel-contents">
        <%= content_tag(:div, link_to(image_tag("folder2.png", {:size=>"25" }), dashboards_path, remote: true) + link_to("Inbox", dashboards_path, remote: true), :class => "folder-nav", :id => @inbox.id) %>
        <%= image_tag("trash.png", :size=>"20") %> Deleted Items
      </div>
    </div>
    <div class="panel" id="panel2"><h3 id="treetop">Project Folders <%= link_to image_tag("folder-delete3.png", {:size=>"25", :alt=>"Delete Project", :title=>"Delete Project", :style => "float: right; top: -4px; position: relative;"}), @project, method: :delete, data: { confirm: 'Really delete the project and all contents?' }%><%= link_to image_tag("folder-add3.png", {:size=>"25", :alt=>"New Project", :title=>"New Project", :style => "float: right; top: -4px; position: relative;"}), new_project_path, data: {:"reveal-id" => "myModal", :"reveal-ajax" => true} %></h3>
      <div class="panel-contents">
        <%= nested_folders @projects.arrange(:order => :name) %>
      </div>
    </div>
  </div>



  <div class="small-12 medium-8 columns">
    <div id='spinner' class='spinner'></div>
    <div class="panel project-contents" id="panel2">
      <%= render 'entries' %>
    </div>
  </div>
</div>



</div>


<%= render 'highlight' %>

<div id="myModal" class="reveal-modal" data-reveal></div>
