<h3>Search for <%= @query %><%= link_to 'return', root_url, :style => "float: right;" %></h3>

<div class="bodywrapper">
<div class="content_row_header">

  <div class="content_name_search_header small-9 medium-6 large-6">Name</div>
  <div class="content_project_search_header small-2 medium-2 show-for-medium-up">Project</div>
  <div class="content_size_search_header small-2 medium-2 show-for-medium-up">Size</div>
  <div class="content_date_search_header small-2 medium-2 show-for-large-up">Uploaded</div>

</div>

<% @notes.each do |content| %>
<div class="content_row">
  <%= image_tag("note.png", :style => 'float:left;', :class => "img_preview", :id => content.id) + content_tag(:div, link_to(content.title, project_note_path(content.project, content)), :class => "content_name_search small-9 medium-6 large-6") %>
  <%= content_tag(:div, link_to(content.project.name, project_contents_path(content.project)), :class => "content_project small-2 medium-2 show-for-medium-up") %>
  <%= content_tag(:div, "note", :class => "content_size small-2 medium-2 show-for-medium-up") %>
  <%= content_tag(:div, content.updated_at.strftime("%-m/%-d/%Y %H:%M"), :class => "content_date_search small-2 medium-2 show-for-large-up") %>
</div>
<% end %>

<% @contents.each do |content| %>
<div class="content_row">
  <%= file_type(content, controller_name) %>
  <%= content_tag(:div, link_to(content.project.name, project_contents_path(content.project)), :class => "content_project small-2 medium-2 show-for-medium-up") %>
  <%= content_tag(:div, number_to_human_size(content.file_size), :class => "content_size small-2 medium-2 show-for-medium-up") %>
  <%= content_tag(:div, content.updated_at.strftime("%-m/%-d/%Y %H:%M"), :class => "content_date_search small-2 medium-2 show-for-large-up") %>
</div>
<% end %>
</div>
