

<div class="bodywrapper">
  <br>
  <div class="panel" id="panel-upload"><h3>Search for <%= @query %><%= link_to 'return', root_url, :style => "float: right;" %></h3>

<div class="bodywrapper">
  <div class="content_row_header">

    <div class="content_name_search_header">Name</div>
    <div class="content_project_header show-for-large-up">Project</div>
    <div class="content_size_header show-for-large-up">Size</div>
    <div class="content_date_header show-for-large-up">Uploaded</div>

  </div>

  <% @notes.each do |content| %>
  <div class="content_row">
    <%= image_tag("note.png", :style => 'float:left;', :class => "img_preview", :id => content.id) + content_tag(:div, link_to(content.title, project_note_path(content.project, content)), :class => "content_name_search") %>
    <%= content_tag(:div, link_to(content.project.name, project_contents_path(content.project)), :class => "content_project") %>
    <%= content_tag(:div, "note", :class => "content_size show-for-large-up") %>
    <%= content_tag(:div, content.updated_at.strftime("%-m/%-d/%Y %H:%M"), :class => "content_date show-for-large-up") %>
  </div>
  <% end %>

  <% @contents.each do |content| %>
  <div class="content_row">
    <%= file_type content %>
    <%= content_tag(:div, link_to(content.project.name, project_contents_path(content.project)), :class => "content_project") %>
    <%= content_tag(:div, number_to_human_size(content.file_size), :class => "content_size show-for-large-up") %>
    <%= content_tag(:div, content.updated_at.strftime("%-m/%-d/%Y %H:%M"), :class => "content_date show-for-large-up") %>
  </div>
  <% end %>
</div>
</div>
</div>
<div id="myModal" class="reveal-modal" data-reveal></div>
