.bodywrapper
  %h3#storyheader Listing users
  %table
    %thead
      %tr.liner
        %th Name
        %th Email
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td
            = link_to 'Edit', edit_user_path(user)
            |
            \#{link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }}
  = link_to 'New User', new_user_path, class: "button tiny radius"
